<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear cuenta | Fit by Suárez</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
    <nav>
        <div class="logo">
            <img src="https://github.com/Suareza1992/fitbysuarez/fitbysuarez_backend/static/fitbysuarezlogowhite.png?raw=true" alt="Fit by Suárez Logo">
        </div>

        <!-- Navigation items -->
        <div class="nav-items">
            <a href="http://localhost:5000/home">Inicio</a>
            <a href="http://localhost:5000/about">Sobre mi</a>
            <!-- <a href="/templates/programas.html">Programas de entrenamiento</a> -->
            <a href="http://localhost:5000/blog">Blog</a>
            <a href="http://localhost:5000/iniciarsesion">Mi cuenta</a>
        </div>
    </nav>

    <!-- Main Content Section that takes the full available height between navbar and footer. -->
    <section class="about-me">
        <div class="about-container">
            <div class="about-text">
                <h1>¿Quién es FitbySuarez?</h1>
                <p>¡Hola! Me llamo Ángel Suárez y soy un entrenador personal con 15 años de 
                    experiencia. También soy un Software Engineer principiante con metas de 
                    expandir mis servicios utilizando la tecnología. Mi pasión por el 
                    entrenamiento personal me ha llevado a sobreponer oportunidades que quizás 
                    otras personas considerarían "mejores". Sin embargo, nada me llena tanto 
                    como ayudar a quienes confían en mi experiencia y conocimiento.</p>

                <h1>¿Cuál es mi misión?</h1>
                <p>Mi misión como entrenador es construir una relación de confianza con mis 
                    clientes, fundamentada en rutinas 100% personalizadas según sus metas y 
                    necesidades. Utilizo principios de la física y estudios científicos para 
                    diseñar programas efectivos, que no solo logran resultados físicos, sino 
                    que también fomentan disciplina y un estilo de vida sostenible a largo plazo.</p>

                <h1>¿Por qué es importante entrenar?</h1>
                <p>Entrenar no solo mejora tu salud física, aumentando tu fuerza, resistencia y 
                    movilidad, sino que también tiene un impacto positivo en tu bienestar mental. 
                    El ejercicio reduce el estrés, mejora la autoestima y fomenta una mentalidad 
                    resiliente, contribuyendo a un equilibrio entre cuerpo y mente.</p>
                <h3>¡Trabajemos juntos para llevar tu travesía en este <i>loco</i> mundo del <i>fitness</i> a otro nivel!</h3>
            </div>
            
            <div class="about-image">
                <img src="https://github.com/Suareza1992/fitbysuarez/blob/main/fitbysuarez_backend/static/About%20me%20FBS.png?raw=true" alt="About Me Image">
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="footer-container-top">
            <div class="row">
                <div class="footer-col-l">
                    <h4>Servicio al cliente</h4>
                    <ul>
                        <li><a href="#">Preguntas frecuentes</a></li>
                        <!-- <li><a href="#">Opciones de pago</a></li> -->
                        <li><a href="#">Contáctanos</a></li>
                    </ul>
                </div>
                <div class="footer-col-r">
                    <h4>¡Sígueme!</h4>
                        <div class="social-links">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="https://x.com/fitbysuarez"><i class="fab fa-twitter"></i></a>
                            <a href="https://www.instagram.com/fitbysuarez/"><i class="fab fa-instagram"></i></a>
                            <a href="https://www.threads.net/@fitbysuarez"><i class="fab fa-threads"></i></a>
                            <a href="https://www.youtube.com/channel/UC6PdDO00SdHrGOWDZQ_3sCA"><i class="fab fa-youtube"></i></a>
                        </div>
                </div>
            </div>
        </div>
        <div class="footer-container-bottom">
            <div class="row-bottom">
                <div class="footer-col-c">
                    <h4>© 2024 FitbySuárez Todos los derechos son reservados.</h4>
                        <div class="legales">
                            <a href="#">Política de privacidad</a><a href="#">Términos y condiciones</a>
                        </div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>