<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In | Fit by Suárez</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    </head>
<body>
    <nav>
        <div class="logo img">
            <img src="https://github.com/Suareza1992/fitbysuarez/blob/main/fitbysuarez_backend/static/fitbysuarezlogowhite.png?raw=true" alt="Fit by Suárez Logo">
        </div>

        <div class="nav-items">
            <a href="http://localhost:5000/home">Inicio</a>
            <a href="http://localhost:5000/about">Sobre mi</a>
            <!-- <a href="/templates/programas.html">Programas de entrenamiento</a> -->
            <a href="http://localhost:5000/blog">Blog</a>
            <a href="http://localhost:5000/iniciarsesion">Mi cuenta</a>
        </div>
    </nav>

    <div class="main-content">
        <div class="form-container">
            <h2>Iniciar sesión</h2>
            <form action="your_backend_url_here" method="POST">
                <div class="form-group">
                    <label for="email">Correo electrónico</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="password">Contraseña</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <button type="submit">Iniciar sesión</button>
                <p>¿No tienes una cuenta? <a href="http://localhost:5000/crearcuenta">Regístrate</a></p>
            </form>
        </div>
    </div>

    <footer class="footer">
        <div class="footer-container-top">
            <div class="row">
                <div class="footer-col-l">
                    <h4>Servicio al cliente</h4>
                    <ul>
                        <li><a href="#">Preguntas frecuentes</a></li>
                    <!--    <li><a href="#">Opciones de pago</a></li> -->
                        <li><a href="#">Contáctanos</a></li>
                    </ul>
                </div>
                <div class="footer-col-r">
                    <h4>¡Sígueme!</h4>
                        <div class="social-links">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="https://x.com/fitbysuarez"><i class="fab fa-twitter"></i></a>
                            <a href="https://www.instagram.com/fitbysuarez/"><i class="fab fa-instagram"></i></a>
                            <a href="https://www.threads.net/@fitbysuarez"><i class="fab fa-threads"></i></a>
                            <a href="https://www.youtube.com/channel/UC6PdDO00SdHrGOWDZQ_3sCA"><i class="fab fa-youtube"></i></a>
                        </div>
                </div>
            </div>
        </div>
        <div class="footer-container-bottom">
            <div class="row-bottom">
                <div class="footer-col-c">
                    <h4>© 2024 FitbySuárez Todos los derechos son reservados.</h4>
                        <div class="legales">
                            <a href="#">Política de privacidad</a><a href="#">Términos y condiciones</a>
                        </div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>